body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.container{
    display: flex;
    height: 100vh;
}

.forms{
    order: 1;
    top : 0px;
    left : 0px;
    background-color: #33475b;
    width: 18%;
    max-width: 450px;
    overflow-y: scroll;
    color: #fff;
    padding: 0 3rem;
    
}

.forms span{
    display: block;
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}

input{
    width: 100%;
    padding: 0.5rem 0px;
    border-color: currentColor currentColor #fff;
    border-style: none none solid;
    border-width: 0 0 1px;
    background-color: transparent;
    line-height: 1.5;
    font-size: 0.9rem;
    color: #fff;
}

.visualise{
    order: 2;
    flex: 1;
    background-color: hsl(268, 100%, 47%);
    display: flex;
    overflow-y:auto;
}

.frame{
    position: relative;
    margin: auto;
    width: 80%;
    border-radius: 8px;

}

.frameHeader{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    font-size: 0.9rem;
    color: #fff;
    background-color: #33475b;
    border-radius: 8px 8px 0 0;
}

.frameBody{
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    padding: 1rem 2rem;
}

iframe {
    height: 400px;
    border: none;
}

#inputColor{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#inputColor :only-child{
    margin-left: 0.5rem;
    width: 3rem;
    border: 3px solid #fff;
    padding: 0;
    border-radius: 4px;
    cursor: pointer;
}